{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    <style>
        .alert {
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            /* Added CSS to change text color to red */
            color: red;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        {% if  error_message%}
            <div class="alert">
                {{ error_message }}
            </div>
        {% endif %}        
        <form action="/user_login" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        <div class="signup-link">
            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</body>
</html>
